/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: #F6F7FB;
  height: 100vh;
  padding-top: 32px;
  font-family: 'Roboto', sans-serif;
}

.AppCenter {
  max-width: 1200px;
  padding: 0px 12px;
}

@media (min-width: 768px) {
  .AppCenter {
    margin: 0px auto;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


